body {
  font-family: "Zen Loop", cursive;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
  padding: 10px;
}

footer {
  text-align: center;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li::first-letter {
  text-transform: capitalize;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 25px;
  border: 3px solid rgb(212, 112, 212);
  border-radius: 5px;
}

.weather-temperature strong {
  font-size: 50px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature units {
  position: relative;
  font-size: 16px;
  top: -40px;
}

.weather-temperature img {
  margin-right: 10px;
  height: 60px;
  width: 64px;
}

.overview {
  margin-bottom: 20px;
}
